header {
    font-size: 24px;
    float: left;
    background-color: slategray;
}
header h1 {
    display: inline-block;
    font-size: 48px;
    flex-direction: column;
    justify-content: left;
    margin: 20px
}
header nav {
    font-size: 24px;
    float: right;
}
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 24px;
}