footer {
    background-color: slategray;
    justify-content: center;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 24px;
}

footer img {
    height: 50px;
    width: 50px;
}